@use '@/scss/globals/global' as *;

.card {
  display: flex;

  &__top {
    cursor: pointer;
  }

  &__basket {
    align-items: center;

    & .card__image {
      max-width: rem(64);
      border-radius: rem(8);
    }
  }

  &__counter-managment {
    display: flex;
  }

  &__catalog {
    flex-direction: column;
    row-gap: rem(8);
    justify-content: space-between;
    min-height: 100%;
    @include large {
      row-gap: rem(7);
      flex-grow: 1;
    }
  }


  &__image {
    &-catalog {
      border-radius: rem(12);
      object-fit: cover;
      @include large {
        border-radius: rem(8);
      }
    }
  }

  &__basket-anim {
    position: relative;
    left: 0;
    animation: basketcardAnimation forwards .5s linear;
  }

}