@use '@/scss/globals/global' as *;

.list {
  display: flex;
  align-items: center;

  &__item:not(:has(.category-btn)),
  &__item:not(:has(.count-btn)) {
    & button:hover {
      background-color: $accent-color;
      color: $white-color;
    }
  }

  .count-btn.button:hover {
    background-color: transparent;
    color: inherit
  }
}