@use '@/scss/globals/global' as *;

.button {
  background-color: $white-color;
  color: $dark-color;
  transition: all .3s ease;
  line-height: 1;

  &.unactive {
    background-color: $light-color;
    pointer-events: none;
    color: $notactive-btn-colortext;
  } 
}