// colors

@use 'functions' as *;
@use 'mixins' as *;

$accent-color: #FFAB08;
$secondary-color: #FF7020;
$heigh-sec-color: #F86310;
$dark-color: #000;
$very-light-color: #F9F9F9;
$light-color: #F2F2F3;
$white-color: #fff;
$bg-color: #f9f9f9;
$light-gram-color: #B1B1B1;

$background-url: url('/images/header/bg.svg');


$main-font-size: clamp(0.75rem, 1.56vw, 1rem);

